@import url(http://fonts.googleapis.com/css?family=Roboto:400,700,300);

.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
/**{outline: 1px solid rgba(205,0,0,0.5);
}*/
*{
     font-family: 'Roboto';
    font-style: normal;
    
}
    
    /*Silder*/
section{
    padding-top: 80px;
    
      
}
.carruse1{
display: table-cell;
 vertical-align: middle;

}

.carousel-caption{

    padding-left: 10px;
    left: 0;
   padding-bottom:  15%;
}

.carousel-caption h1{
    width: 64%;
    text-align: left;
    font-size: 36px;
}
@media (max-width: 600px){
    .carousel-caption h1{
        font-size:30px;
    }
    .carousel-inner>.item>img{
      height: 300px;
    }
}
.carousel-caption h6{
    width:53%;
    text-align: left;
}
.secver{
    margin: 0;
    padding: 35px;
    background: #04B45F;
}
.secver a, .secver .media-body{
    color: #fff;
}

.trans{
    opacity: 0.7;
}
.secver .media-object{
   background-color: #046536;  
}
/*parte de figuras */

.latest{
    background-color: #F5F5F5;
    padding-top: 30px;
    padding-bottom: 30px;
    color: #394A54;
}
.pagination span{
    color:  #FBECEB ;
}
.pagination>li>span, .pagination>li>a {
   background-color:#D9534F; 
}
.pagination>li>a:hover {
   background-color:#D9534F; 
}
.pagination>li>span:hover {
   background-color:#E84C3D; 
}
.pagination>li>a:active {
   background-color:rgb(255, 86, 90);; 
}
.pagination>li>span:active {
   background-color:rgb(255, 86, 90);; 
}
.pagination>li>a:visited {
   background-color:rgb(255, 86, 90);; 
}
.pagination>li>span:visited {
   background-color:rgb(255, 86, 90);; 
}

.latest .caption p{
    font-weight: 700;
    font-size: 16px;
    
}
    /*esta es la parte roja*/
.say{
    background-color: #E74C3C;
    padding: 30px 0;
}
.say h2, .say p, .say blockquote, .say footer{
    color: #fff;
}
.say .container>p{
    padding-bottom: 20px;
}
.say .container>p, .say .container>h2{
text-align: center;
}
.slider-fotos{
    padding: 4px;
}
.slider-fotos a .thumbnail{
    text-decoration: none;
    transition: 1s all;
    margin-bottom: 0;
}
.slider-fotos a .thumbnail:hover{
    transform: scale(1.1);
}
.slider-fotos a, .slider-fotos p{
     color: #394A54;
    text-decoration: none;
}
.opcion1{
    padding: 25px;
     
}
.latest-project{
    padding-top: 25px;
}
  /*footer */

ul li{
    list-style: none;
}
.company ul{
    padding: 0;
}
.media-object{
    display: block;
}
.media-body p:last-child{
    font-size: 10px;
}
.footer{
    color: #fff;
    background-color: #394A54;
    padding-top: 20px;
}
.footer ul{
    padding: 0;
}
.nav-footer{
    padding-right: 0;
}
.nav-footer li{
    list-style: none;
    display: inline-block;
    width: 70px;
    
}
.nav-footer a{
   display: block;
    text-decoration: none;
    color:#BBC1C5;
}
.footer2{
    padding: 20px 0 20px 0;
    background-color: #273035;
    color:#fff;

}
.footer2 ul{
    padding: 0;
}
/*----header*/

.header{
    background-color: #34495E;
    margin:0;
    border-radius: 0;
    z-index:5;
    padding: 25px 0 25px 0;
    border: 1px solid #34495E;
}
.header i{
    color: #1BBC9B;
}
.header h1{
    color: #fff;
    font-weight:400; 
    
}
.navbar-header{
    padding-left: 50px;
}
.main-menu {
    
}
.header .navbar-nav>li>a{
    padding: 5px 10px  ;
    color: #EBEDEE; 
    
}
.logo-logo{
    padding: 0;
}
.logo-logo img{
    width: 
}
.header .navbar-nav{
    margin:0;
}
.header .navbar-nav>li>a:hover{
   background-color:#2C3E50;
    color: #fff;
}
.header .navbar-nav>li>a:active{
   background-color:#2C3E50;
    color: #fff;
}
/*----seccion verde seccion1*/
.seccion1{
background-color: #2ECC71;
    color: #fff;
  /*  padding: 100px 70px 70px;*/
    padding: 120px 5% 5% ;
}

.breadcrumb{
    background-color: transparent ; 
     padding-top: 40px;
}
.breadcrumb a{
    text-decoration: none;
    color: #fff;
   
    
}
.breadcrumb a:hover{
    text-decoration: none;
    color: #BBEED1;  
}
/*----seccion2*/
.seccion2 .container>h2, .seccion2 .container>p{
    text-align: center;
}
.seccion2, .about-us{
    background-color: #F5F5F5;
    color: #354A5F;
    padding-top: 50px;
      padding-bottom: 50px;
}
.seccion2 .media-object, .secver .media-object{
    border-radius:100%;
    
    width: 50px;
    height: 50px;
    display: flex;
  justify-content: center;
  align-items: center;
   
}

.seccion2 .media-object{
   background-color: #939393; 
}
.seccion2 i, .secver i{
    
    font-size: 30px;
    
}
.seccion2 i{
    color: #FFFFFF;
}
.seccion2 .media-body , .secver .media-body{
    padding: 0 10px;
}
.seccion2 .media, .secver .media{
    margin-top: 0;
    padding-top: 35px;
}
.seccion2 hr{
     border-top: 1px solid #E5E5E5;
    border-bottom: 1px solid #ffffff;
    margin-top: 40px ;
    margin-bottom: 40px ;
}
.seccion2 .container>p{
    padding-bottom: 30px;
}


/*-----about us_____*/

.progress{
    background-color: #fff;
}
.meet{
    padding: 30px 0;
}
.meet h2, .meet p{
    text-align: center;
} 

.fotografias{
    text-align: center;
    padding: 30px 0 0 0;
}
.fotografias p:nth-child(3){
    font-size: 12px;
    color: #BBC1C5;
    
}
.fotografias p:nth-child(2){
    margin-bottom: 0;
}
.about-us .btn{

    border-radius: 100%;
  height: 34px;
    width: 34px;
    text-decoration: none;
    color: #fff;
    text-align: center;
    display: flex;
  justify-content: center;
  align-items: center;
    margin-right: 0;
       
}
.about-us ul li{
    display: inline-block;
    
}
.lin{
    background-color: #0997C1;
}
.lin:hover{
    background-color: #077190;
}
.about-us ul{
    padding: 0;
}
/*esta es para blog*/

.blog-contenido, .blog-item{
    background-color: #E5E5E5;
    padding-top: 50px;
    padding-bottom: 40px;
}
.blog-contenido .thumbnail h3, .blog-contenido .thumbnail p, .blog-item .thumbnail h3, .blog-item .thumbnail p, .blog-aside, .blog-item h4{
    color: #354A5F;
}
.blog-contenido .thumbnail .caption>a, .blog-item .thumbnail .caption>a{
    color:#BBC1C5;
    text-decoration: none;
    margin: 10px 5px 10px 10px;
}
.blog-contenido .thumbnail .caption>p{
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 300;
}
.blog-contenido .thumbnail, .blog-item .thumbnail {
    padding: 0;
    border: 1px solid #BBC1C5;
    border-radius: 8px;
}
.blog-contenido .thumbnail img, .blog-item .thumbnail img{
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

.blog-contenido .pagination span, .blog-contenido .pagination li> a{
    color:#34495E;
    text-decoration: none;
    background-color: #fff;
}
.blog-contenido .pagination li> a:hover{
    background-color:  #34495E;
    color: #fff;
}
.blog-contenido .pagination li> a:active{
    background-color:  #34495E;
    color: #fff;
}
.blog-contenido .input-group{
    padding-bottom: 30px;
}
.opciones-blog img{
    border-radius: 8px;
    width: 100%;
}
.opciones-blog .row{
    padding-top: 10px;
    padding-bottom: 10px;
}
.blog-aside{
   pading: 0;
}
.categorias ul{
    padding: 0;
}
.blog-aside h3{
    padding-top: 20px;
    padding-bottom: 20px;
}
.blog-aside .btn{
    margin-bottom: 10px;
    padding: 5px 10px;
}
.lateral .row{
    padding-right: 30px;
}
/*-----blog-item---*/
.blog-item .media img{
    margin: 0;               
}
.plomo{
    background-color: #E5E5E5;
    padding: 10px;
    border-radius: 4px;
}
.blog-item .media-body p:last-child{
    font-size: 13px;
}
.plomo .media-heading>a{
    text-decoration: none;
    color:  #34495E;
    font-weight: 700;
    font-size:16px;
}
.plomo .media-heading time{
    color:#34495E;
    font-size: 10px;
}
.plomo .media-heading a:last-child{
    color:#34495E;
    text-decoration: none;
}

.blog-item p:nth-child(6){
    font-weight: 400;
    font-size: 19px;
    margin-top: 15px;
    
}

/*contactos*/
.contactos{   
    background-color: #E5E5E5;
  padding-bottom: 30px;
    padding-top: 30px;
    color: #34495E;
}
    .contactos label {
display:block;
margin-top:20px;
letter-spacing:1px;
}
 .contactos form {
margin:0 auto;

}
 .contactos input, textarea {

height:27px;
border:2px solid #f6f6f6;
padding:10px;
margin-top:5px;
font-size:10px;
}

.contactos textarea {
height:230px;
    margin-top: 60px;
}

#submit {
width:85px;
height:35px;
border:none;
margin-top:20px;
cursor:pointer;
}

/*fin contactos*/

/*portafolio*/
.text-white{
    color: white;
}
.text-white a:hover{
    text-decoration: none;
}
.portafolio{
    padding-top: 40px;
    padding-bottom: 40px;
    margin: 0;
    background: #F2F2F2;
     color: #394A54;
}
.marg{
    background: white;
    padding: 10px;
}

.photo img{
 width: 100%;
}
.bloque{
    padding: 10px;
}



