@import url(http://fonts.googleapis.com/css?family=Roboto:400,700,300);

.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
header{
    background: #0A0A2A;
    height: 35px;
    padding: 5px;
}
header .logo{
    color: #04B45F;
    height: auto;
    width: 16%;
}
header nav{
    padding: 0 10%;
}
button{
    color: white;
    background: transparent;
    border:transparent;
}
/*Silder*/

.carousel h1,.caroulsel h6{
    position: relative;
}
.secver{
    margin: 0;
    padding: 35px;
    background: #04B45F;
}
.media span,.media h3, media p{
    display: inline-block;
}
.media p{
    padding: 0 34px;
}
.media h3{
    padding: 0 4px;
}
.media span{
    color: white;
    width: 35px;
    height: 35px;
    border: transparent;
    background-color: #000;
    opacity: 0.5;
}
section {
}
