@import url(http://fonts.googleapis.com/css?family=Roboto:400,700,300);

.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
header{
    background: #0A0A2A;
    height: 35px;
    padding: 5px;
}
header .logo{
    color: #04B45F;
    height: auto;
    width: 13%;
}
header nav{
    padding: 0 10%;
}
button{
    color: white;
    background: transparent;
    border:transparent;
}
/*Silder*/

.carousel-caption{
    position: absolute;
    padding: 0;
    left: 0;
    top: 40%;
}
.carousel-caption h1{
    width: 64%;
}
.carousel-caption h6{
    width:53%;
}
.secver{
    margin: 0;
    padding: 35px;
    background: #04B45F;
}
.media span,.media h3, media p{
    display: inline-block;
}
.img-circle{
    width: 39px;
    height: 39px;
    border: transparent;
    background-color: #000;
    position: relative
}
.trans{
    opacity: 0.7;
}
.icon-facebook,.icon-twitter,.icon-google-plus{
    color: white;
    font-size: 18px;
    opacity: none;
    position: absolute;
    top: 10px;
    padding: 2px 0 0 12px;
}
.icon-facebook{
    padding: 2px 0 0 14px;
}
section {
}
